<ion-view  view-title="Inspirations">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <!-- content goes here -->
    <ion-list>
     <ion-item
        class="item-remove-animate"
        type="item-text-wrap">
        <img src="main/assets/images/ss-banner.png" style="width:100%;height:auto;max-width:400px"/>
      </ion-item>

    <ion-item
        class="item-remove-animate inspiration-item"
        type="item-text-wrap"
        href="#/main/inspirationList/detail/2">
        <div class="list card">

  <div class="item item-avatar item-icon-right">
    <img src="main/assets/images/emily.png">
    <h2>Emily from PartyMoms</h2>
    <p>June 05, 2016</p>
     <i class="icon ion-ios-arrow-right" style="color:#ccc"></i>
  </div>

  <div class="item item-body">
    <img class="full-image" src="main/assets/images/bathroom-bliss.jpg">
    <h2>Bathroom Bliss</h2>
    <p>
      "I love the Reject Shop's new laundry range - its been a lot of fun putting this inspiration moodboard together - hope you like it!"
    </p>
  </div>

</div>
      </ion-item>

       <ion-item 
        class="item-remove-animate inspiration-item"
        type="item-text-wrap"
        href="#/main/inspirationList/detail/1">
        <div class="list card">

  <div class="item item-avatar item-icon-right">
    <img src="main/assets/images/emily.png" />
    <h2>Emily from PartyMoms</h2>
    <p>June 05, 2016</p>
    <i class="icon ion-ios-arrow-right" style="color:#ccc"></i>
  </div>

  <div class="item item-body">
    <img class="full-image" src="main/assets/images/laundry.jpg">
    <h2>Get a Lovely Laundry</h2>
    <p>
      "I love the Reject Shop's new laundry range - its been a lot of fun putting this inspiration moodboard together - hope you like it!"
    </p>
  </div>

</div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
